/* Game Section */

.game-start {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5em;
  place-items: center;
  padding: 4rem 0;
  grid-template-areas: "top-left top-right" "bottom bottom";
}

.token-bottom-row {
  grid-area: bottom;
}

.token-container {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.token-container-rock {
  background: linear-gradient(var(--rock-gradient));
  box-shadow: 0px 1px var(--rock-shadow), 0px 2px var(--rock-shadow), 0px 3px var(--rock-shadow),
    0px 4px var(--rock-shadow), 0px 5px var(--rock-shadow);
}

.token-container-scissors {
  background: linear-gradient(var(--scissors-gradient));
  box-shadow: 0px 1px var(--scissors-shadow), 0px 2px var(--scissors-shadow),
    0px 3px var(--scissors-shadow), 0px 4px var(--scissors-shadow), 0px 5px var(--scissors-shadow);
}

.token-container-paper {
  background: linear-gradient(var(--paper-gradient));
  box-shadow: 0px 1px var(--paper-shadow), 0px 2px var(--paper-shadow), 0px 3px var(--paper-shadow),
    0px 4px var(--paper-shadow), 0px 5px var(--paper-shadow);
}

.token {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: white;
  display: grid;
  place-items: center;
  box-shadow: 0px 5px 5px lightgray inset;
}

.game-active {
}
