/* Game Section */

.game-start {
  display: grid;
  place-items: center;
}

.game-start-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  place-items: center;
  padding: 1rem 0;
  grid-template-areas: "top-left top-right" "bottom bottom";
  background-image: url("../images/bg-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20rem;
  width: 90%;
}

.token-bottom-row {
  grid-area: bottom;
}

.token-container {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.token-container:hover {
  cursor: pointer;
}

.token-container-rock {
  background: linear-gradient(var(--rock-gradient));
  box-shadow: 0px 1px var(--rock-shadow), 0px 2px var(--rock-shadow), 0px 3px var(--rock-shadow),
    0px 4px var(--rock-shadow), 0px 5px var(--rock-shadow), 0px 6px var(--rock-shadow),
    0px 7px var(--rock-shadow);
}

.token-container-scissors {
  background: linear-gradient(var(--scissors-gradient));
  box-shadow: 0px 1px var(--scissors-shadow), 0px 2px var(--scissors-shadow),
    0px 3px var(--scissors-shadow), 0px 4px var(--scissors-shadow), 0px 5px var(--scissors-shadow),
    0px 6px var(--scissors-shadow), 0px 7px var(--scissors-shadow);
}

.token-container-paper {
  background: linear-gradient(var(--paper-gradient));
  box-shadow: 0px 1px var(--paper-shadow), 0px 2px var(--paper-shadow), 0px 3px var(--paper-shadow),
    0px 4px var(--paper-shadow), 0px 5px var(--paper-shadow), 0px 6px var(--paper-shadow),
    0px 7px var(--paper-shadow);
}

.token {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: white;
  display: grid;
  place-items: center;
  box-shadow: 0px 0.4rem lightgray inset;
}

.game-start-container img {
  width: 65px;
}

.game-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.player-choice,
.computer-choice {
  width: 22rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
}

.game-completed {
  display: grid;
  place-items: center;
  height: 100%;
}

.game-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.token-title,
.token-title-mobile {
  color: white;
  font-size: 1.75rem;
  letter-spacing: 0.2rem;
}

.result {
  color: white;
  font-size: 4rem;
  padding-bottom: 1.5rem;
}

.computer-token,
.player-token {
  display: grid;
  place-items: center;
  height: 17rem;
}

.computer-token-placeholder {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: hsl(224, 47%, 15%);
}

.game-active-token-inner-container {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.game-active-token {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: white;
  display: grid;
  place-items: center;
  box-shadow: 0px 0.75rem hsl(0, 0%, 83%) inset;
}

.game-active-token-inner-container img {
  width: 120px;
}

.token-outer-container {
  border-radius: 50%;
  z-index: -100;
}

.player-token.winner .token-outer-container,
.computer-token.winner .token-outer-container {
  box-shadow: 0 0 0 5rem hsla(0, 0%, 83%, 0.05), 0 0 0 10rem hsla(0, 0%, 83%, 0.03),
    0 0 0 15rem hsla(0, 0%, 83%, 0.02);
}

@media (max-width: 375px) {
  .game-start-container img {
    width: 40px;
  }
  .game-active-token-inner-container img {
    width: 60px;
  }
}
