@import "variables.css";
@import "modal.css";
@import "game.css";

:root {
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;
  color: var(--color-text-light);
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

body {
  background: radial-gradient(circle farthest-side at top, hsl(214, 47%, 23%), hsl(238, 48%, 15%));
}

.container {
  max-width: var(--desktop-width);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  border: 1px solid var(--header-outline);
  color: white;
  font-size: 3rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  margin-bottom: 4rem;
}

.title {
  line-height: 2.25rem;
  padding: 1rem;
}

.bonus.title {
  font-size: 2rem;
  line-height: 1.5rem;
  padding: 0.5rem;
}

.score-container {
  background-color: white;
  border-radius: var(--border-radius);
  color: var(--dark-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  text-align: center;
  padding: 1rem 3rem;
}

.score-label {
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.score {
  font-size: 4rem;
}

footer {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  border-radius: var(--border-radius);
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid var(--header-outline);
  color: white;
}

.btn-secondary {
  border: none;
  background-color: white;
  color: var(--dark-text);
  padding: 1rem 4rem;
}

.btn:hover {
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--header-outline);
}

.btn-secondary:hover {
  color: red;
}

.switch-game-container {
  text-align: center;
  margin: 2rem;
}

/* responsive for mobile */
@media (max-width: 1000px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 850px) {
  :root {
    font-size: 10px;
  }

  .inner-container {
    width: 80%;
  }
}

@media (max-width: 375px) {
  :root {
    font-size: 8px;
  }

  .inner-container {
    width: 90%;
  }
  footer {
    justify-content: center;
  }
}
