:root {
  --desktop-width: 1366px;
  --mobile-width: 375px;
  --border-radius: 0.5rem;

  --scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --lizard-gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --spock-gradient: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

  /* token shadow colors */
  --scissors-shadow: hsl(40, 84%, 43%);
  --paper-shadow: hsl(230, 89%, 55%);
  --rock-shadow: hsl(349, 70%, 46%);
  --lizard-shadow: hsl(261, 72%, 53%);
  --spock-shadow: hsl(189, 58%, 47%);

  /* Background */
  --background-gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

  /* Neutral */
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
}
